<style>
    #navbar {
        list-style-type: none;
        overflow: hidden;
    }

    li {
        float: left;
    }
</style>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Home</a>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {{#if user}}
                <ul id="navbar">
                    <li class="navbar-brand"><a href="/signout" class="nav-link">Sign out</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                {{else}}
                <ul id="navbar">
                    <li class="navbar-brand"><a class="nav-link" href="/signup" style="text-decoration: none;">Sign up</a></li>
                    <li class="navbar-brand"><a class="nav-link" href="/signin" style="text-decoration: none;">Sign in</a></li>
                </ul>
                {{/if}}
            </div>
        </div>
    </div>
</nav>