<style>
    #label {
        margin-right: 10px;
    }
</style>

<div class="container">
    <div class="card">
        <h1 class="text-center font-weight-bold">Changing of password</h1>
        
        <div class="card-body">
            <form method="post" action="/user/changePassword">
                <div class="row">
                    <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                        <label for="oldPass" class="text-dark font-weight-bold">Old password:</label>
                        <input type="password" name="oldPass" placeholder="Old password" class="form-control">
                    </div>
                </div>


                <div class="row">
                    <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                        <label id="label" for="newPass" class="text-dark font-weight-bold">New password:</label>
                        <input type="password" name="newPass" placeholder="New password" class="form-control" />
                    </div>
                </div>


                <div class="row">
                    <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                        <label id="label" for="confirmNewPass" class="text-dark font-weight-bold">Confirm new password:</label>
                        <input type="password" name="confirmNewPass" placeholder="Confirm new password" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>