<div class="container">
    <div class="card">
        <form method="post" action="/user/resetPassword">
            <input type="text" class="form-control" placeholder="Email" name="email" />

            <button class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>